<ion-modal-view>

        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Forgot Password?</h1>
          <button class="button button-clear button-primary" ng-click="forgotPassword.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding background" >

        <div class="forgotpasskey" ></div>
       
          <div class="center">
            <h3>Forgot Password?</h3>
         </div>  
         <p class="strong fs-16 center">Please find below the 2 steps verification process in order to retrieve your password.</p>
         <p class="strong fs-16"><strong> Step 1 :- </strong>Enter the Username (Registered mobile number) in the below field.</p>
         <p class="strong fs-16"><strong> Step 2 :- </strong>Check for the sms from Evidya Online in your mobile phone.</p>
         <p>You would be redirected to the login screen , please enter your login credentials to proceed.</p>
         <div class="list list-inset">
          
          <label class="item item-input">
              <input type="text" placeholder="Username (Registered mobile number)" ng-model="data.lastName">
          </label>
         
        </div> 

        <button class=" ml-10p button button-block button-calm width90p" >Retrieve Password</button>
       </ion-content>

      </ion-modal-view>